@model LunchApp.UI.Models.MenuViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1>
<form method="post">
    <div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SelectedDate)
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SelectedDate)
            </dt>
            <dd class="col-sm-8">

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MenuRating)
            </dt>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.SelectedDate)
            </dt>
            <dd class="col-sm-8">

            </dd>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.MenuRating)
            </dd>
        </dl>
    </div>
    <div>
        @Html.EditorFor(model => model.Courses, "Courselist")
    </div>
    <button type="submit" class="btn btn-primary">Submit review</button>
</form>

